html, body {
  min-height:100%;
}

body {
  background-image: url("images/background/woodlize-2000.jpg");
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
  background-color:#191919;
  margin: 0;
}

#content {
  position:absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 0px;
}

#social {
  display:flex;
  flex-direction:column;
  margin-top: 25px;
  width: 30px;
}

#social a {
  font-size: 1.6em;
  color: #F6E6E6;
  margin: 3px; 
}