html, body {
  min-height:100%;
}

body, body.background-0 {
  background-image: url("images/background/big/0.jpg");
  background-position:center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black;
  color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body.background-1 {
 background-image: url("images/background/big/1.jpg"); 
}

#content {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 0px;

  display: flex;
  flex-direction: column;
}

#social {
  display: flex;
  margin-top: 25px;
  margin-left: 15px;

  width: 30px;
  flex: 1;
  flex-direction: column;
}

#social a {
  align-self: center;
  max-width: 40px;
  margin: 3px;
  color: white;
  font-size: 2.5em;
  text-decoration: none;
  opacity: 0.78;
}

#social a:hover {
  opacity: 0.93;
}

/* Deezer */
.deezer-icon img {
  max-width: 35px;
}

.social-title {
  display: none;
}

footer {
  font-size: 0.8em;
  width: 100%;
  text-align: center;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  body, body.background-0 {
    background-image: url("images/background/small/0.jpg");
  }

  body.background-1 {
   background-image: url("images/background/small/1.jpg"); 
  }
  
  
  #content {
    justify-content: flex-end;
  }
  
  .push {
    flex-grow: 2.5;
  }

  #social {
    margin: 0;
    width: 100%;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #social a {
    font-size: 8em;
    max-width: none;
    margin: 0px 25px;
  }

  /* Deezer */
  .deezer-icon {
    margin-right: 55px;
  }

  .deezer-icon img {
    max-width: none;
    width: 110px;
  }

  footer {
    font-size: 2em;
  }
}